{"filter":false,"title":".dockerignore","tooltip":"/.dockerignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":39},"action":"insert","lines":["/external_dependencies/external/FreeCAD"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":39},"end":{"row":0,"column":39},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1579039377450,"hash":"5e58669bc1bedb575336d8b35d80173e1795a625"}