{"filter":false,"title":".gitmodules","tooltip":"/.gitmodules","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":24,"column":0},"end":{"row":24,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":122,"mode":"ace/mode/text"}},"timestamp":1579575275393,"hash":"5aaf36b0d49e94339f3ea6a0800e207db9a47f4e"}