external_dependencies/external/FreeCAD/
external_dependencies/external/FreeCAD
external_dependencies/external/FreeCAD/*
external_dependencies/external/FreeCAD/*
external_dependencies/external/FreeCAD/*/*
external_dependencies/external/FreeCAD/*/*/*
external_dependencies/external/FreeCAD/*/*/*/*
external_dependencies/external/FreeCAD/*/*/*/*/*
external_dependencies/external/FreeCAD/*/*/*/*/*/*
external_dependencies/external/FreeCAD/*/*/*/*/*/*/*
external_dependencies/external/FreeCAD/*/*/*/*/*/*/*/*

./external_dependencies/external/FreeCAD
./external_dependencies/external/FreeCAD/